.navbar {
    background-color: plum;
    min-height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    color: blueviolet;
    display: block;
    font-size: 15px;
    font-family: monospace;
  }
.navbar>ul {
  list-style-type: none;
  margin: 0;
  padding:0;
  width: 100%;
  overflow: hidden;
  justify-content: space-around;
  display: flex;
}
.navbar>ul>li {
  margin-top: 10px;
  font-size: 1.5em;
}
a {
  color: blueviolet;
  }
@media screen and (max-width: 990px) {
  .navbar>ul{
   flex-direction: row;
  }
}
  