.footer {
    min-height: 100px;
    background: plum;
    position: relative;
  }
  
  .footer span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 3px;
    background: blueviolet;
    text-align: center;
    font-family: monospace;
  }
  